{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>About Us</h1>
    <p>Hi Guys!! Welcome to my site. I am <a href="https://vrajsoni98.pythonanywhere.com/">Vraj Soni</a>.
    </p>
<p>  This site, Readit Blogs, is just a simple fun project that I have developed to work on my skills.
  </p>
  <p>I hope you like it. Enjoy and have a great day.</p>
    <p>
      Visit <a href="https://vrajsoni98.pythonanywhere.com/"> my portfolio </a> to explore more of my projects
    </p>
    <!-- <h3>Follow me on social networks</h3>
<a href="https://www.facebook.com/vraj.soni.374" title="" class="fa-icon">
  <i class="fa fa-facebook"></i>
</a>
<a href="https://twitter.com/Vraj28186063" title="" class="fa-icon">
  <i class="fa fa-twitter"></i>
</a>
<a href="https://www.linkedin.com/in/vrajsoni98/" title="" class="fa-icon">
  <i class="fa fa-linkedin"></i>
</a>
  </div> -->
{% endblock %}
