{% extends "base.html" %}
{% block content %}
<div class="jumbotron p-3 mb-2 bg-info text-white" >
  <div class="container" align="center">
  <img src="static/dog_404.png" class="img-fluid" alt="Responsive image" width="250" height="500" style="align:middle">
</div>
<h1 class="display-4" align="center">A Dog Ate this Page</h1>
<p class="lead">Your dog is cute but honestly a menace. Where are my shoes? Where is my graduation certificate? Where is the chocolate cake I baked for my Aunt’s birthday? And why did you take your dog to the vet on that same Thursday?!</p>

<!-- <div class="container">
    <h1 class="display-4">A Dog Ate this Page</h1>
    <p class="lead">Your dog is cute but honestly a menace. Where are my shoes? Where is my graduation certificate? Where is the chocolate cake I baked for my Aunt’s birthday? And why did you take your dog to the vet on that same Thursday?!</p>
  </div> -->

</div>
{% endblock %}
